<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--启动rpc服务端-->
    <bean class="net.zhangjw.myrpc.spring.support.ServerStart">
        <property name="address" value="127.0.0.1:8888" />
    </bean>


    <!--注册接口实现类-->
    <bean id="userService" class="net.zhangjw.myrpc.test.server.UserServiceImpl" />
    <bean class="net.zhangjw.myrpc.spring.support.ServiceRegistery">
        <property name="interfance" value="net.zhangjw.myrpc.test.interfance.UserService" />
        <property name="providerImpl" ref="userService" />
    </bean>

</beans>